{% load static from staticfiles %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>CIRIfy</title>
    <link rel="stylesheet" href="{% static 'styles.css' %}">
</head>
<body>
    {% block title %}
    {% endblock %}
    <p></p>

    <h3><a href="{% url 'home'%}" class="">> home</a></h3>
    <h3><a href="{% url 'manager'%}" class="">> manager</a></h3>
    <h3><a href="{% url 'player'%}" class="">> player</a></h3>

    {% block content %}
    {% endblock %}
</body>
</html>
